<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  
  <appSettings>
    <add key="xunit.methodDisplay" value="method"/>
  </appSettings>
  

  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="XUnit.NLog" />
    </extensions>
    <variable name="LogLayout" value="${pad:padding=-1:fixedLength=true:inner=${level:uppercase=true}} ${date:universalTime=true:format=HH\:mm\:ss.ffffff:culture=en-US} &gt;&gt; ${message}" />
    <variable name="LogDir" value=".\" />
    <variable name="LogFileName" value="windowmancer.log" />
    <targets async="true">
      <target name="TestOutput" xsi:type="TestOutput" layout="${LogLayout}" />
      <!--<target name="Console" xsi:type="ColoredConsole" layout="${LogLayout}" />-->
      <target name="LogFile" xsi:type="File" layout="${LogLayout}" fileName="${LogFileName}" keepFileOpen="true" encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence" archiveFileName="${LogDir}/{#######}.a" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="LogFile,TestOutput" />
    </rules>
  </nlog>
  
</configuration>