<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="ClassicLayout" value="${pad:padding=-1:fixedLength=true:inner=${level:uppercase=true}} ${date:universalTime=true:format=HH\:mm\:ss.ffffff:culture=en-US} >> ${message}" />
    <variable name="LogDir" value=".\" />
    <variable name="LogFileName" value="windowmancer.log" />
    <targets async="true">
      <target name="Console" xsi:type="ColoredConsole" layout="${ClassicLayout}" />
      <target xsi:type="RichTextBox"
        name="NLogTextBox"
        layout="${ClassicLayout}"
        controlName="NLogTextBox"
        allowAccessoryFormCreation="false"
        useDefaultRowColoringRules="true"
        supportLinks="true"
        formName="Form1">
      </target>>
      <target name="LogFile" xsi:type="File" layout="${ClassicLayout}" fileName="${LogFileName}" keepFileOpen="true" encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence" archiveFileName="${LogDir}/{#######}.a" />
      <target name="UdpOutlet" xsi:type="Chainsaw" address="udp://127.0.0.1:7071" layout="${ClassicLayout}" >
        <parameter name="RawMessage" layout="${message}" />
        <parameter name="CallSite" layout="${callsite:fileName=True}" />
        <parameter name="Exception" layout="${exception:maxInnerExceptionLevel=5:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace}" />
      </target>
    </targets>
    <rules>
      <!--<logger name="*" minlevel="Debug" writeTo="Console" />-->
      <logger name="*" minlevel="Debug" writeTo="UdpOutlet,LogFile,NLogTextBox" />
    </rules>
  </nlog>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>