<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="mylayout" value="${date:universalTime=true:format=HH\:mm\:ss.ffffff:culture=en-US} ${pad:padding=-1:fixedLength=true:inner=${level:uppercase=true}} &gt;&gt; ${callsite} - ${message}" />

  <targets>
    <target name="logfile" xsi:type="File" layout="${mylayout}" fileName="out.log" />
    <target name="logconsole" xsi:type="Console" layout="${mylayout}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>